@import "../../assets/sass/colors";

.modalBox {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  background-color: $main-shadow;
  z-index: 9999;
  display: none;
  flex-direction: column-reverse;
  flex: 1;
}
.modalBox--active {
  display: flex;
}
