$base-light: #fff;
$main-text: #404040;
$sec-text: #e6e6e6;
$green-light: #22a958;
$green-main: #377e00;
$bg-green: rgba(109, 212, 0, 0.05);
$main-shadow: rgba(0, 0, 0, 0.3);
$main-red: #ff00a4;
$light-gray: #a3a3a3;
